/***************************ELEMENT********************************/
body {
  text-align: center;
  margin: auto;
font-family: 'Poppins', sans-serif;
}

p {
  font-weight: 200;
}

h1 {
  font-weight: 600;
}

h3 {
  text-align: left;
  margin: auto;
  font-weight: 400;
}

div {
  margin: auto;
}
img {
  position: absolute;
  bottom: 25px;
  right: 25px;
}

/***************************class********************************/
.attribution {
  font-size: 11px;
  text-align: center;
  position: static;  
}

.a {
  color: hsl(228, 45%, 44%);
}

.boxes {
  margin: auto auto 50px auto;
  height: 600px;
  width: 900px;

}

.title {
  margin-bottom: 10px;
}

.subtitle {
  font-weight: normal;
  letter-spacing: 2px;
  margin-top: 10px;
}

.Supervisor {
  border-radius: 10px;
  border-top: 5px solid hsl(180, 62%, 55%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 250px;
  position: relative;
  text-align: left;
  width: 250px;
  right: 300px;
  top: 150px;
  margin-right: 325px;
  padding: 25px;
}

.team-builder {
  border-radius: 10px;
  border-top: 5px solid hsl(0, 78%, 62%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 250px;
  position: relative;
  text-align: left;
  width: 250px;
  bottom: 300px;
  margin-bottom: 25px;
  padding: 25px;
}

.Karma {
  border-radius: 10px;
  border-top: 5px solid hsl(34, 97%, 64%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 250px;
  position: relative;
  text-align: left;
  width: 250px;
  bottom: 300px;
  padding: 25px;
}

.Calculator {
  border-radius: 10px;
  border-top: 5px solid hsl(212, 86%, 64%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 250px;
  position: relative;
  text-align: left;
  width: 250px;
  left: 300px;
bottom: 750px;
margin-left: 325px;
padding: 25px;
  }

  .headers {
    margin: 50px;
  }
